<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556693584301-aqq8qituo6v1kbs8pkesi54s240q8cp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556693584301-aqq8qituo6v1kbs8pkesi54s240q8cp2</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ2M8n_Tv-PPdWHaFBDZ8mt2MOAsF068I</string>
	<key>GCM_SENDER_ID</key>
	<string>556693584301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cils.acne</string>
	<key>PROJECT_ID</key>
	<string>acne-01-c2f46</string>
	<key>STORAGE_BUCKET</key>
	<string>acne-01-c2f46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556693584301:ios:755f5e60fc8fc9c6508924</string>
	<key>DATABASE_URL</key>
	<string>https://acne-01-c2f46.firebaseio.com</string>
</dict>
</plist>